@font-face {
    font-family: "AmalfiCoast";
    src: url("../fonts/AmalfiCoast.ttf") format("truetype");
    font-display: swap;
  }
  @font-face {
    font-family: "MorefrenStandard";
    src: url("../fonts/MorefrenStandard.ttf") format("truetype");
    font-display: swap;
  }
  :root {
    --white: #f9f9f9;
    --grey: #f8f8f8;
  
    /* Color Pack 01 */
    --color01: rgba(103, 117, 99, 1);
    --color02: rgba(177, 191, 184, 1);
    --color03: rgba(190, 115, 106, 1);
    --color04: rgba(212, 157, 157, 1);
    --color05: rgba(207, 181, 165, 1);
  
    /* Font Family */
    --font01: AmalfiCoast;
    --font02: MorefrenStandard;
    --font03: Poppins, sans-serif;
  }
  
  body {
    font: 1.1rem var(--font03);
    padding: 0;
    margin: 0;
    background-color: var(--white);
  }
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    list-style-type: none;
  }
  h1,
  h2 {
    font-family: var(--font01);
  }
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-family: var(--font02);
    font-size: 1.3rem;
    font-weight: 400 !important;
  }
  label {
    font-size: 1.2rem;
  }
  p {
    font-size: 1.1rem;
  }
  a {
    text-decoration: none;
    color: var(--color01);
  }
  a:hover {
    color: var(--color01);
  }
  
  /* ==========================================================================
     Botones
     ========================================================================== */
  .btn {
    font-size: 0.7rem;
    padding: 0.6rem 1rem;
    letter-spacing: 1px;
    font-weight: 600;
    border: none;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    display: inline-block;
    cursor: pointer;
    border-radius: 0px;
  }
  .btn:focus,
  .btn:active {
    box-shadow: none;
    outline: none;
  }
  .btn-sm {
    padding: 0.45rem 0.5rem;
    font-size: 0.7rem;
  }
  .btn-filled {
    background-color: transparent;
    color: var(--white);
    border: 2px solid var(--white);
  }
  .btn-filled:hover {
    color: var(--white);
    background-color: var(--color03);
    border: 2px solid var(--color03);
  }
  .btn-border {
    background-color: var(--color05);
    border: 2px solid var(--color05);
    color: var(--white);
  }
  .btn-border:hover {
    color: var(--white);
    background-color: var(--color04);
    border: 2px solid var(--color04);
  }
  
  /* ==========================================================================
     Flecha Scroll down
     ========================================================================== */
  .scroll-down {
    position: absolute;
    margin-top: 50px;
    /* bottom: 0; */
    display: block;
    text-align: center;
    font-size: 20px;
    z-index: 100;
    text-decoration: none;
    text-shadow: 0;
    width: 30px;
    height: 30px;
    border-bottom: 4px solid #fff;
    border-right: 4px solid #fff;
    z-index: 9;
    left: calc(50% - 15px);
    -webkit-transform: translate(-50%, 0%) rotate(45deg);
    -moz-transform: translate(-50%, 0%) rotate(45deg);
    transform: translate(-50%, 0%) rotate(45deg);
    -webkit-animation: fade_down 2s ease-in-out infinite;
    -moz-animation: fade_down 2s ease-in-out infinite;
    animation: fade_down 2s ease-in-out infinite;
  }
  /*animated scroll arrow animation*/
  @-webkit-keyframes fade_down {
    0% {
      -webkit-transform: translate(0, -10px) rotate(45deg);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      -webkit-transform: translate(0, 10px) rotate(45deg);
      opacity: 0;
    }
  }
  @-moz-keyframes fade_down {
    0% {
      -moz-transform: translate(0, -10px) rotate(45deg);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      -moz-transform: translate(0, 10px) rotate(45deg);
      opacity: 0;
    }
  }
  @keyframes fade_down {
    0% {
      transform: translate(0, -10px) rotate(45deg);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      transform: translate(0, 10px) rotate(45deg);
      opacity: 0;
    }
  }
  
  /* ==========================================================================
     Cover
     ========================================================================== */
  /* #cover {
    background-size: cover;
    background-color: var(--color03);
    color: var(--white);
    overflow: hidden;
    position: relative;
  } */
  #cover{
width: 96%;
max-width: 960px;
margin: 0 auto;
  }
  img {
    width: 100%;
    height: auto;
    }
  .cover-text {
    position: absolute;
    top: 20%;
    width: 100%;
    left: 0;
    text-align: center;
    z-index: 15;
    -webkit-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
  }
  #cover h1 {
    font-size: 5em;
    font-weight: 500;
    line-height: 90px;
    margin-bottom: 25px;
  }
  #cover p {
    font-size: 18px;
    margin-top: 70px;
    line-height: 26px;
  }
  #cover video {
    width: 100% !important;
    height: auto !important;
  }
  @media (max-width: 750px) {
    .cover-text {
      top: 50%;
    }
    #cover h1 {
      font-size: 2.5em;
    }
  }
  
  /* ==========================================================================
     Countdown
     ========================================================================== */
  #countdown {
    text-align: center;
    color: var(--white);
    background-color: var(--color03);
  }
  #countdown .countdown-section span.countdown-amount {
    font-size: 40px;
    display: block;
    line-height: 0;
    padding: 21px 0 12px;
  }
  #countdown .countdown-section span.countdown-period {
    clear: both;
    display: inline-block;
    font-size: 14px;
    padding: 0 4px;
    margin-top: 15px;
  }
  
  /* ==========================================================================
    Invitation
    ========================================================================== */
  #invitation {
    background-color: #fff;
  }
  #invitation .col {
    background-color: var(--grey);
  }
  #invitation h1 {
    color: var(--color05);
  }
  #invitation li > i {
    margin-right: 14px;
  }
  #invitation .btn {
    max-width: 150px;
  }
  #invitation .btn-border {
    background-color: transparent;
    border: 2px solid var(--white);
    color: var(--color01);
  }
  #invitation .btn-border:hover {
    background-color: var(--color01);
    color: var(--white);
  }
  #invitation .dropdown-menu {
    font-size: 0.8rem;
  }
  .dropdown-item:active {
    background-color: var(--color02);
  }
  
  /* ==========================================================================
    RSVP
    ========================================================================== */
  #rsvp {
  }
  
  #rsvp h1 {
    color: var(--color05);
  }
  
  .text-muted {
    FONT-SIZE: 1REM;
    FONT-WEIGHT: 500;
  }
  /* ==========================================================================
    Regalos
    ========================================================================== */
  #regalos {
    color: var(--white);
    background-color: var(--color02);
  }
  #regalos h2 {
    font-family: var(--font02);
  }
  #regalos h3 {
    font-family: var(--font03);
  }
  #regalos .btn {
    max-width: fit-content;
  }
  
  #regalos .btn {
  
  }
  
  #regalos .modal-body h3,
  #regalos .modal-body li, 
  #regalos .modal-body i {
    color: var(--color01);
  }
  
  /* ==========================================================================
    Dresscode
    ========================================================================== */
  #dresscode {
    background-color: var(--color05);
    color: white;
  }
  
  /* ==========================================================================
    Social - Instagram hashtag
    ========================================================================== */
  #social {
    background-color: var(--color04);
    color: var(--white);
  }
  #social h2 {
    font-family: var(--font03);
  }
  /* ==========================================================================
    Nosotros - Galeria de fotos
    ========================================================================== */
  #nosotros {
    background-color: #fff;
  }
  
  #nosotros h1 {
    color: var(--color05);
  }
  
  /* ==========================================================================
    Info util
    ========================================================================== */
  #util {
    background-color: #fff;
    font-size: 1rem;
  }
  #util h1 {
    color: var(--color05);
  }
  #util .card {
    background-color: var(--white);
    border: 0px;
    /*border-top: 2px solid var(--color05);*/
  }
  #util .card-body {
    background-color: var(--white);
    padding: 1rem 0rem;
  }
  #util .card-header {
    background-color: var(--white);
    color: var(--color05);
    /* color: var(--white); */
  }
  #util .list-group-item {
    background-color: var(--white);
    border: 0px;
  }
  #util .list-group-item:hover .badge {
    background-color: var(--color05);
    color: var(--white);
  }
  #util .badge {
    /*border: 1px solid var(--color05);*/
    color: var(--color05);
  }
  #util .btn-filled {
    background-color: var(--color05);
    color: var(--white);
    border: 0px;
  }
  #util .btn-filled:hover {
    opacity: 0.8;
  }
  
  
  /* ==========================================================================
    COVID
    ========================================================================== */
  #covid {
    background-color: #e9ecef;
  }
  #covid .btn {
    background-color: transparent;
    border: 2px solid var(--color02);
    color: var(--color02);
  }
  
  #covid h3 {
    font-family: var(--font03);
    margin-top: 30px;
  }
  
  #covid p {
    font-size: 1rem;
    font-weight: 300;
  }
  /* ==========================================================================
  Footer
  ========================================================================== */
  .copyright {
    padding: 15px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    background: #ffffff;
    color: var(--alegria-color-1);
    text-align: center;
  }
  
  .copyright p {
    margin-bottom: 0;
    font-size: 1rem;
  }
  
  .copyright p a {
    color: var(--color03);
  }
  
  .copyright p a:hover {
    color: var(--color04);
  }
  
  .card {
    border-radius: 0px;
  }
  